.image{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.image_filter_blur{
    -webkit-filter: blur(6px);
    filter: blur(6px);
}
