@-webkit-keyframes from-right-to-left-in{
    from {left: 100%;}
    to {left: 0;}
}
@keyframes from-right-to-left-in{
    from {left: 100%;}
    to {left: 0;}
}
@-webkit-keyframes from-right-to-left-out{
    from {left: 0;}
    to {left: -100%;}
}
@keyframes from-right-to-left-out{
    from {left: 0;}
    to {left: -100%;}
}

.item{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.item_display_block{
    display: block;
}
.item_position_current{
    display: block;
    animation-name: from-right-to-left-in;
    -webkit-animation-name: from-right-to-left-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.item_position_previous{
    display: block;
    left: -100%;
    animation-name: from-right-to-left-out;
    -webkit-animation-name: from-right-to-left-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
